<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Data vizualisation of AfricArXiv</title>
</head>

<body>

     <div class="jumbotron text-center">
         <h1>ACCEUIL</h1>
         <hr/>
         <p><br>Bienvenue au site de notre projet PFA</p>
         <h3>A propos</h3>
         <p><small>Ce site est un projet realisé par Elyousfi Ismail et Elfatih Ziad sous l'encadrement de Mme Lamie Benhiba.<br>
             Notre objectif principale est de creer de bonnes visualisations du site AfricArXiv.</small></p>
     </div>

     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                <p>  Un graphe qui visualise le nombre d'articles publies sur AfricArXiv par mois.</p>
                <hr>
                <button class="btn btn-default"><a href="/viz_1/">Articles par Mois</a></button>
             </div>
             <div class="col-sm-6">
                <p>Une visualisation qui permet de comparer la contribution d'AfricArXiv sur OSF.<br>Les domaines qui interessent les auteurs inscrits sur AfricArXiv.</p>
                <hr>
                <button class="btn btn-default"><a href="/viz_2/">Article par Sujet</a></button>
             </div>
             <div class="col-sm-6">
                <p>Cette visualisation nous permet de voir le nombre de mots techniques utilises par domaine.</p>
                <button class="btn btn-default"><a href="viz_3/">Nombre de Tags par domaine</a></button>
                <hr>
             </div>
             <hr>
             <div class="col-sm-6">

                <p>On visualise les collaboration realisees par les auteurs.<br>Et un classement de top 5 contributeurs au site AfricArXiv.</p>
                <button class="btn btn-default"><a href="viz_4/">Relation entre auteurs</a></button>
                <hr>
             </div>
             <hr>
         </div>
     </div>

</body>

</html>