<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Data visualization of AfricArXiv</title>
</head>

<body>

     <div class="jumbotron text-center">
         <h1>ACCEUIL</h1>
         <hr/>
         <p><br>Bienvenue au site de notre projet PFA</p>
         <h3>A propos</h3>
         <p><small>Ce site est un projet realisé par Elyousfi Ismail et Elfatih Ziad sous l'encadrement de Mme Lamiae Benhiba.<br>
             Notre objectif principale est de créer des visualisations donnant une vue générale sur le site AfricArXiv </small></p>
     </div>

     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                <hr>
                <p>  Un graphe qui visualise le nombre d'articles publiés sur AfricArXiv par mois.</p>
                <button class="btn btn-default"><a href="/viz_1/">Articles par Mois</a></button>
                <hr>
             </div>
             <div class="col-sm-6">
                <hr>
                <p>Une visualisation permetant de comparer la contribution d'AfricArXiv sur la platforme OSF.<br>Ainsi que les sujets qui intéressent les auteurs inscrits sur AfricArXiv.</p>
                <button class="btn btn-default"><a href="/viz_2/">Article par Sujet</a></button>
                <hr>
             </div>
             <div class="col-sm-6">
                 <hr>
                 <p>Cette visualisation nous permet de voir le nombre de mots techniques exploités par domaine.</p>
                 <button class="btn btn-default"><a href="viz_3/">Nombre de Tags par domaine</a></button>
                 <hr>
             </div>
             <hr>
             <div class="col-sm-6">
                <hr>
                <p>On visualise les pays qui contribuent le plus sur AfricArXiv.<br>Accompagné d'un classement des top 5 contributeurs au site.</p>
                <button class="btn btn-default"><a href="viz_4/">Contribution et activite des auteurs</a></button>
                <hr>
             </div>
             <div class="col-sm-6">
                <hr>
                <p>On Visualise le reseau etablie entre les auteurs.</p>
                <button class="btn btn-default"><a href="viz_5/">Relation entre auteurs</a></button>
                <hr>
             </div>
             <hr>
         </div>
     </div>

</body>

</html>