<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{preprint.title}}</title>
</head>
<body>
    <h1>{{preprint.title}}</h1>
    <hr/>
    <h3>Information:</h3>
    <p> Cet article est publié le {{preprint.publication_date}}.<br/
        Les sujets qu'il traite sont :<br/>
        <ul>
            {% for sub in preprint.subject_set.all() %}
                <li>
                    <b>{{sub.title}}</b>
                </li>
            {% endfor %}
        </ul><br/>
        Réalisé par:<br/>
        <ul>
            {% for aut in preprint.author_set.all() %}
                <li>
                    <b>{{aut.Full_Name}}</b>
                </li>
            {% endfor %}
        </ul>
    </p>
    <hr/>
    <h3>Description :</h3>
    <p>  {{preprint.descrition}}</p>
</body>
</html>