<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data vizualisation of AfricArXiv</title>
</head>
<body>
    <h1>ACCEUIL</h1>
    <p>Ce site est un projet realisé par Elyousfi Ismail et Elfatih Ziad sous l'encadrement de Mme Lamie Benhiba</p>
    <hr/>
    <h3>Objectif du site</h3>
    <p>Donner une bonne vizualisation du site AfricArXiv</p>
    <hr/>
    <button class="btn btn-default"><a href="/overview/">Statistique générale sur le site</a></button>
    <button class="btn btn-default"><a href="/Authors/">Liste des Auteurs</a></button>
    <button class="btn btn-default"><a href="/Preprints/">Liste des Articles</a></button>
</body>
</html>