{% extends './base.html' %}

{% block body %}

     <div class="jumbotron text-center">
         <h1>ACCEUIL</h1>
         <hr/>
         <p><br>Bienvenue au site de notre projet PFA</p>
         <h3>A propos</h3>
         <p><small>Ce site est un projet realisé par Elyousfi Ismail et Elfatih Ziad sous l'encadrement de Mme Lamie Benhiba.<br>
             Notre objectif principale est de creer de bonnes vizualisations du site AfricArXiv.</small></p>
     </div>

     <div class="container">
         <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-default"><a href="/viz_1/">Article par Mois</a></button>
            <hr>
            <p>  Un graphe qui visualise le nombre d'articles publies sur AfricArXiv par mois.</p>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-default"><a href="/Authors/">Liste des Auteurs</a></button>
            <hr>
            <p>text 2</p>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-default"><a href="/Preprints/">Liste des Articles</a></button>
            <hr>
            <p>text 2</p>
        </div>
      </div>
     </div>

{% endblock %}